* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-color: rgb(255, 107, 107);
}

.container {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

.navbar {
    background-color: yellow;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.navbar-links {
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 500px;
}

.navbar-links-list a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    /* transition: background-color 0.3s ease; */
}

.navbar-links-list a:hover {
    background-color: blue;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    border-radius: 10px;
}

#navbar-image-left-flag {
    justify-content: left
    
}

#navbar-image-right-flag {
    justify-content: right;
}

.main-info {
    padding-left: 50px;
    padding-right: 50px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    height: 100px;
}

.mainpage-flag {
    display: flex;
    justify-content: center;
}

.paragraph {
    padding-bottom: 50px;
}

.paragraph img {
    padding-right: 20px;
}

.paragraph-ukraine-flag {
    display: flex;
}

.paragraph-ukraine-gerb {
    display: flex;
}

.paragraph-gerb-info {
    display: flex;
}

.paragraph-flag-info {
    display: flex;
}

.paragraph-today-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-today-header-elements {
    display: flex;
}

.paragraph-today-header-right-image {
    padding-left: 20px;
}
